html, body {
  height: 100%; }

body {
  color: #fff; }

#ui-view {
  height: 100%; }

.clr {
  clear: both; }

#page-loading {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  height: 100%;
  width: 100%;
  background-image: url("../images/spiffygif_46x46.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.container {
  height: 100%;
  width: 100%;
  max-width: 640px;
  border: 1px solid black;
  background-image: url("../images/bg.jpg");
  background-position: center top;
  background-repeat: repeat-y;
  background-size: 100%; }

header {
  width: 100%;
  text-align: center;
  padding: 5px 0px; }
  header img {
    width: 100%;
    max-width: 350px;
    max-height: 100px; }

.signin form {
  margin-top: 20px; }

.signin .btn {
  width: 100%; }

.signin .response {
  margin-top: 10px;
  color: red; }

.view-container {
  margin-top: 20px; }

.remotecontroll {
  margin-top: 30px; }
  .remotecontroll .remoteNo {
    float: right; }
  .remotecontroll .button_1 {
    background-color: #337ab7; }
  .remotecontroll .button_2 {
    background-color: #419641; }
  .remotecontroll .button_3 {
    background-color: #2aabd2; }
  .remotecontroll .button_4 {
    background-color: #eb9316; }
  .remotecontroll h3 {
    text-align: left;
    margin-bottom: 20px; }
  .remotecontroll .answer_btn {
    margin-bottom: 10px;
    color: #fff; }
    .remotecontroll .answer_btn:focus,
    .remotecontroll .answer_btn.focus,
    .remotecontroll .answer_btn:active,
    .remotecontroll .answer_btn.active {
      background: none !important;
      color: #fff !important;
      background-color: gray !important; }

.container.admin {
  width: 100%;
  min-height: inherit;
  height: inherit;
  max-width: inherit; }

.servers .server {
  border: 1px solid #fff;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer; }
  .servers .server:hover {
    border-color: gray; }
  .servers .server.selected {
    color: gray;
    border-color: gray; }

.servers .clickTable {
  width: 100%;
  border: 1px solid #fff; }
  .servers .clickTable table {
    width: 100%; }
  .servers .clickTable .scrl {
    display: block;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto; }
